@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-legend-text , .apexcharts-legend-marker{
    display: none !important;
}
/* Fade-in effect */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-in-out;
  }
  
  /* Pulse effect for the logo */
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  .animate-pulse {
    animation: pulse 2s infinite;
  }
  
  /* Smoother wave animation */
  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-wave {
    animation: wave 1.5s ease-in-out infinite;
  }
  
  